services:
  - type: web
    name: reed-amicale
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --bind 0.0.0.0:$PORT --timeout 120 --workers 2 app:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: reed-db
          property: connectionString
      - key: SENDGRID_API_KEY
        sync: false
      - key: MAIL_DEFAULT_SENDER
        value: commissionsociale.reed@gmail.com
      - key: ADMIN_USERNAME
        value: admin
      - key: ADMIN_PASSWORD
        generateValue: true
    disk:
      name: uploads
      mountPath: /app/static/uploads  
      sizeGB: 1